*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding-top: 125px;
}

div > h1{
    width: 100vw;
    height: 250px;
    background-color: red;
}

.menu{
    background-color: red;
    text-align: right;
    
    width: 100vw;
    height: 30px;


    text-align: center;
    padding-top: 20px;

    padding-right: 40px;
  
    
}

a{
    padding: 10px;

    color: white;
    text-decoration: none;
}

a:hover{
    color: rgba(141, 135, 135, 0.288);
    transition: color 0.3s ease;
}